<a href="https://colab.research.google.com/github/ShrayamBanerjee/Python/blob/master/Day4(11_9_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#MORE CONTROL FLOW TOOLS

#if Statements
x = int(input("Please enter an integer: "))

Please enter an integer: 40

In [ ]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

In [ ]:
words = ['cat', 'window', 'defenestrate']

In [ ]:
for w in words:
    print(w) #, len(w)) # it calculate length of the string

cat
window
defenestrate

In [ ]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]: # Loop over a slice copy of the entire list.
    if len(w) >= 6:
      words.insert(1, 'wabc')

In [ ]:
words

['cat', 'wabc', 'wabc', 'window', 'defenestrate']

In [ ]:
#The range() Function
for i in range(-50,100,13):
    print(i)

-50
-37
-24
-11
2
15
28
41
54
67
80
93

In [ ]:
range(5, 10)
#5, 6, 7, 8, 9

range(5, 10)

In [ ]:
range(0, 10, 3)
#0, 3, 6, 9

range(0, 10, 3)

In [ ]:
range(-10, -100, -30)
#-10, -40, -70

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

In [ ]:
for i in range(5):#len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
A=list(range(500))

In [ ]:
#break and continue Statements, and else Clauses on Loops
for n in range(2, 10):
    for x in range(2, n):
      print(x)
      if n % x == 0:
          print(n, 'equals', x, '*', n//x)
          break
      else:
      # loop fell through without finding a factor
          print(n, 'is a prime number')

2
3 is a prime number
2
4 equals 2 * 2
2
5 is a prime number
3
5 is a prime number
4
5 is a prime number
2
6 equals 2 * 3
2
7 is a prime number
3
7 is a prime number
4
7 is a prime number
5
7 is a prime number
6
7 is a prime number
2
8 equals 2 * 4
2
9 is a prime number
3
9 equals 3 * 3

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
      print("Found an even number", num)
      continue
      #break
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
#Defining Functions
def fib(n): # write Fibonacci series up to n
     #"""Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [ ]:
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
def mUX(a,b):
    c=a*b
    print(c)

In [ ]:
mUX(4,8)

32

In [ ]:
def myeven(o,p):
  for num in range(o,p):
      if num % 2 == 0:
        print("Found an even number", num)
        continue
      #break
      print("Found a number", num)

In [ ]:
myeven(2,10)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9